@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.inputwrapper>div::before {
  border-bottom: 2px solid white !important;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

@keyframes ScaleInOut {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid lightgray;
  border-top-color: gray;
  border-radius: 50%;
  animation: Rotate 1.2s linear 0s infinite forwards;
}

.spinner-svg {
  animation: Rotate 1.6s linear 0s infinite forwards;
}

.switch>div>label>span:nth-child(1) {
  width: 52px;
  height: 27px !important;
}

/* .switch label span span span .css-8je8zh-MuiTouchRipple-root {
  display: none;
}
.switch label span .css-1yjjitx-MuiSwitch-track {
  display: none;
} */
.switch .MuiSwitch-thumb {
  margin-top: -5.5px;
  margin-left: -3px;
}

.css-107w6bm-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track,
.css-10yoqb4-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  display: none;
}

.brendlist {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  min-width: 46px;
  min-height: 46px;
}

.wfull {
  width: 100vw;
  padding: 0 64px;
}

.change-search-engine {
  position: relative;
  border-radius: 20px;
}

.change-search-engine::before {
  position: absolute;
  top: 5px;
  right: 0;
  width: 20px;
  height: 20px;
  background: red;
}

.change-search-engine p {
  font-size: 14px !important;
}
._placeholder textarea{
  color: white;
}
._textwhite input{
  color: white !important;
}
.taskList::-webkit-scrollbar {
  width: 4px;
}
.taskList::-webkit-scrollbar-track {
  background: none; 
}
.taskList::-webkit-scrollbar-thumb {
  background: #fff; 
  height: 2rem;
  border-radius: 10px;
}
._list svg{
  width: 2rem !important;
  height: 2rem !important;
}
._switch .css-1dp96f1-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked {
  background: #3F9BFC !important;
}







.mui-switch {
  width: 46px;
  height: 26px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #e7e5e4;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}
.mui-switch:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.mui-switch:checked {
  border-color: #3F9BFC;
  box-shadow: #3F9BFC 0 0 0 16px inset;
  background-color: #3F9BFC;
}
.mui-switch:checked:before {
  left: 21px;
}
.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s;
}
.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}
.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #3F9BFC;
  transition: border-color 0.4s, background-color ease 0.4s;
}
.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s;
}
.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.mui-switch.mui-switch-anim:before {
  transition: left 0.3s;
}
.mui-switch.mui-switch-anim:checked {
  box-shadow: #3F9BFC 0 0 0 16px inset;
  background-color: #3F9BFC;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.mui-switch.mui-switch-anim:checked:before {
  transition: left 0.3s;
}
